.products-wrapper {
    margin-top: 23px;
}

.product-list {
    margin-top: 23px;
}

.product-item {
    margin-bottom: 23px;
}

// responsive
@media only screen and (max-width: 600px) {
    .products-wrapper {
        margin-top: 60px;
    }

    .product-item {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
