<div class="sidebar-wrapper">
    <div class="sidebar-header">
        <img src="/img/logo-footer.png" alt="book-store">
        <p class="sidebar-header_title"><span>Book</span>store</p>
        <i class="fa-solid fa-bars bar-icon"></i>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li class="sidebar-item active">
                <a class="item-link">
                    <i class="fa-solid fa-book icon-link"></i>
                    Books
                    <i class="fa-solid fa-chevron-right icon-show"></i>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="item-link">
                    <i class="fa-solid fa-user icon-link"></i>
                    Users
                    <i class="fa-solid fa-chevron-right icon-show"></i>
                </a>
            </li>
        </ul>
    </div>
</div>