.content {
    overflow: hidden;
    margin-left: 300px;
    padding: 20px 20px 0;
    min-height: 100vh;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (max-width: 600px) {
    .content {
        margin-left: 0;
    }
}
