.title {
    margin: 50px 0 23px 0;
    font-size: 2.4rem;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

.banner {
    margin: 50px 0 0 0;
}