.wrapper {
    background-color: transparent;
    height: 170px;
    left: 0;
    position: fixed;
    top: 0;
    transition: 0.3s linear;
    width: 100%;
    z-index: 1001;
    user-select: none;
}

.shrink {
    background-color: var(--white);
    height: 100px;
    box-shadow: 0 8px 24px hsla(210, 8%, 62%, 0.2);
    z-index: 1001;
}

.container {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav {
    display: flex;
}

.nav-item {
    font-size: 1.95rem;
    font-style: italic;
    font-weight: 700;
    color: var(--text-color);

    a {
        padding: 10px 10px 10px 0;
    }

    +.nav-item {
        margin-left: 29px;
    }
}

.active {
    color: var(--primary);
}

.action {
    position: relative;
    display: flex;
    align-items: center;
}

.login-btn {
    padding: 8px 20px;
}

.search,
.cart,
.user {
    border: none !important;
    color: var(--text-color) !important;
    margin-left: 0 !important;

    &:hover {
        color: var(--primary) !important;
    }
}

.search-form {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.search-input {
    border: 1px solid var(--text-color);
    height: 35px;
    width: 0;
    margin-top: -6px;
    padding: 0;
    font-size: 1.6rem;
    border-radius: 15px;
    visibility: hidden;
    transition: 0.2s linear;

    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: var(--primary);
        outline: 0;
        box-shadow: 0 0 0 0.25rem #80b13b40;
    }

    &:focus~.search-form-value {
        border-color: var(--primary);
        outline: 0;
    }
}

.search-form-value {
    position: absolute;
    top: -6px;
    right: 0;
    height: 35px;
    padding: 0 8px;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--text-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    opacity: 0;
}

.search-value-form-active {
    opacity: 1;
    transition: 0.2s linear;
}

.search-active {
    width: 250px;
    padding: 0 70px 0 10px;
    visibility: visible;
}

.user {
    padding: 8px 0 8px 18px;
}

.search {
    padding: 8px 18px;
}

.user_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    min-width: 350px;
    padding: 0 15px;
}

.user_content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;

    img {
        width: 70px;
    }
}

.user_info {
    min-width: 200px;
    margin-left: 10px;
}

.username,
.userphone,
.userdate {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.username_label,
.userphone_label,
.userdate_label {
    font-weight: 600;
    color: var(--primary);
    width: 75px;
}

// .username_value,
// .userphone_value {
//     margin-left: 38px;
// }

.userphone_value,
.userdate_value {
    margin-top: 4px;
    font-size: 1.4rem;
}

.btn-title {
    margin-left: 8px;
}

.quality {
    align-items: center;
    background-color: var(--primary);
    border-radius: 45%;
    color: #fff;
    display: flex;
    font-size: 1.2rem;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: 50px;
    top: 5px;
    width: 25px;
    pointer-events: none;
}

.logo {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    cursor: pointer;


    img {
        width: 170px;
        transition: 0.3s linear;
    }
}

.link {
    display: block;
    position: relative;
    top: -170px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: transparent;
    width: 170px;
    height: 170px;
    pointer-events: all;
    z-index: 1000;
}

.logo-shrink {
    img {
        width: 100px;
    }
}

.back,
.menu-mobile-bar {
    display: none;
}

// responsive
@media only screen and (max-width: 1024px) {

    .wrapper,
    .shrink {
        box-shadow: 0 8px 24px hsla(210, 8%, 62%, 0.2);
        height: 150px;
    }

    .logo {
        img {
            width: 150px;
        }
    }

    .logo-shrink {
        img {
            width: 150px;
        }
    }
}

// phone
@media only screen and (max-width: 600px) {

    .back,
    .menu-mobile-bar {
        display: block;
    }

    .wrapper,
    .shrink {
        box-shadow: 0 8px 24px hsla(210, 8%, 62%, 0.2);
        height: 100px;
    }

    .nav {
        background-color: var(--white);
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        left: 0;
        padding-top: 30px;
        position: absolute;
        top: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        width: 100%;
        z-index: 102;
    }

    .nav-active {
        transform: translateX(0);
    }

    .nav-item {
        font-size: 3rem;
        margin-bottom: 25px;

        +.nav-item {
            margin-left: 0;
        }
    }

    .search {
        display: none;
    }

    .quality {
        right: 60px;
    }

    .user {
        padding: 10px 15px;
    }

    .register-btn {
        display: none;
    }

    .logo,
    .logo-shrink {
        img {
            width: 100px;
        }
    }

    .back {
        position: absolute;
        top: 40px;
        left: 40px;
    }
}

// phone
@media only screen and (max-width: 600px) {
    .hidden {
        display: none;
    }

    .button {
        +.button {
            margin-left: 0;
        }
    }

    .link {
        display: none;
    }
}