<div class="grid">
    <div class="admin">
        <div class="sidebar">{{> sidebar}}</div>
        <div class="content">
            <div class="content-header">
                <h5 class="header-title">Books</h5>
            </div>
        </div>
    </div>
</div>