<div class="popper-wrapper">
    <div class='header'>
        <h2 class='title'>Administrator</h2>
    </div>
    <form class='info-form' method="POST">
        <div class='field-wrapper'>
            <label class='label' htmlFor="email_id" name="email">
                Email Address
            </label>
            <input class='input' type="email" id="email_id" placeholder="Enter your email" / name="password">
        </div>
        <div class='field-wrapper'>
            <label class='label' htmlFor="pass_id">
                Password
            </label>
            <input class='input' type="password" id="pass_id" placeholder="Enter your password" />
        </div>
        <div class='footer-form'>
            <span class='error-message'></span>
            <Button primary class='continue-btn'>
                Continue
            </Button>
        </div>
    </form>
</div>